Source: font-downloader
Section: misc
Priority: optional
Maintainer: zm
Build-Depends:	
  cmake,
  meson,
  libhandy-1-dev,
  build-essential,
  debhelper (>= 10)
 
Package: font-downloader
Architecture: amd64
Description: A program to view and install fonts on your system.
