list.sidebar {
  border: none;
}

.color-button {
  padding: 12px;
  border-radius: 999px;
  -gtk-outline-radius: 999px;
  outline-offset: 1px;
  border: none;
  -gtk-icon-shadow: none;
  min-width: 0px;
  min-height: 0px;
  color: transparent;
  transition: all 200ms ease-out;
}

.color-light {
  background: #ffffff;
  box-shadow: inset 0 0 0 1px #2e3436;
}

.color-light:checked {
  color: #2e3436;
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

.color-dark {
  background: #2d2d2d;
  box-shadow: inset 0 0 0 1px alpha(black, .35);
}
.color-dark:checked {
  color: #eeeeec;
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

.color-green:checked {
  box-shadow: inset 0 0 0 2px #2ec27e;
}

.green2:selected {
  background-color: #2ec27e;
}

.green2 check:checked {
  background-image: linear-gradient(to top, #26a269 2px, #2ec27e);
  border-color: #239963;
}

.text-green:focus {
  border-color: #239963;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.719216);
  -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.719216);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
}

.green {
  color: white;
  outline-color: rgba(255, 255, 255, 0.3);
  border-color: #239963;
  border-bottom-color: #1a7d50;
  background-image: linear-gradient(to top, #26a269 2px, #2ec27e);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.719216);
  -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.719216);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
}

.green text selection {
  background-color: #239963;
}

progressbar.green > trough > progress {
  background-image: linear-gradient(to top, #26a269 2px, #2ec27e);
}
/* Menu */

popover > box {
    padding: 0px 5px;
}

popover checkbutton {
   padding: 5px 0px;
}

popover modelbutton {
   padding: 2.5px 5px;
}

popover modelbutton:nth-last-child(1) {
   margin-bottom: 5px;
}
